<?xml version='1.0'?>
<nat>
			<rule>
				<source>
					<network>wanip</network>
				</source>
				<protocol>tcp</protocol>
				<target>192.168.100.20</target>
				<interface>wan</interface>
			</rule>
			<rule>
				<source>
					<network>wanip</network>
					<not></not>
				</source>
				<protocol>tcp</protocol>
				<target></target>
				<interface>wan</interface>
			</rule>
			<rule>
				<source>
					<address>192.168.12.6</address>
				</source>
				<protocol>tcp</protocol>
				<target></target>
				<interface>wan</interface>
			</rule>
			<rule>
				<source>
					<address>192.168.12.6/14</address>
				</source>
				<protocol>tcp</protocol>
				<target></target>
				<interface>wan</interface>
			</rule>
			<rule>
				<source>
					<network>pppoe</network>
				</source>
				<protocol>tcp</protocol>
				<target></target>
				<interface>wan</interface>
			</rule>
			<rule>
				<source>
					<network>wanip</network>
				</source>
				<protocol>tcp</protocol>
				<target></target>
				<interface>wan</interface>
			</rule>
			<rule>
				<source>
					<network>lanip</network>
				</source>
				<protocol>tcp</protocol>
				<target></target>
				<interface>wan</interface>
			</rule>
</nat>