<?xml version='1.0'?>
<nat>
			<rule>
				<source>
					<network>lanip</network>
					<not></not>
					<port>5999</port>
				</source>
				<destination>
					<not></not>
					<port>80</port>
				</destination>
				<protocol>tcp</protocol>
				<target>58.69.52.98</target>
				<local-port>78</local-port>
				<interface>wan</interface>
				<descr>ejemplo 1 con check box marcado</descr>
				<associated-rule-id></associated-rule-id>
				<associated-rule-id>pass</associated-rule-id>
				<nosync></nosync>
			</rule>
			<rule>
				<source>
					<network>192.168.12.6/32</network>
				</source>
				<destination>
					<any></any>
				</destination>
				<protocol>igmp</protocol>
				<target>192.168.100.21</target>
				<local-port>78</local-port>
				<interface>wan</interface>
				<descr>ejemplo 1 sin check box marcado</descr>
				<associated-rule-id></associated-rule-id>
				<associated-rule-id>pass</associated-rule-id>
			</rule>
			<onetoone>
				<external>192.168.0.19</external>
				<descr></descr>
				<interface>wan</interface>
				<source>
					<any></any>
				</source>
				<source>
					<any></any>
				</source>
			</onetoone>
			<onetoone>
				<external>123.3.3.3</external>
				<descr>IVR4</descr>
				<interface>wan</interface>
				<source>
					<address>192.168.12.25</address>
				</source>
				<source>
					<address>192.168.1.8/18</address>
				</source>
			</onetoone>
			<onetoone>
				<external>123.3.3.3</external>
				<descr>IVR2</descr>
				<interface>lan</interface>
				<source>
					<address>192.168.12.6</address>
					<not></not>
				</source>
				<source>
					<address>192.168.1.8</address>
					<not></not>
				</source>
			</onetoone>
			<onetoone>
				<nobinat></nobinat>
				<disabled></disabled>
				<external>192.168.0.19</external>
				<descr>IVR3</descr>
				<interface>wan</interface>
				<source>
					<address>192.168.12.78/32</address>
					<not></not>
				</source>
				<source>
					<address>192.168.1.8/32</address>
					<not></not>
				</source>
			</onetoone>
</nat>